%div(data-role="page" id="home")
  = haml :header
  
  %div(data-role="content")
    = haml :posts
  
  = haml :footer

%div(data-role="page" id="new")
  = haml :header
  
  %div(data-role="content")
    = haml :new
  
  =haml :footer      

